* {
    margin: 0;
    text-align: justify;
    scroll-behavior: smooth;
}

.color-nav {
    background-image: $navGrad
}

body {
    width: 100%;
}

.blanco {
    color: $blanco;
}

.mayuscula {
    text-transform: uppercase;
}


.animate__animated.animate__fadeInLeft {
    animation-duration: 2s;
}

.animate__animated.animate__fadeIn {
    animation-duration: 4s;
}

a:hover {
    color: $aHoverColor;
}

header section a img:hover {
    border: solid 1px $imgColorHover;
    border-radius: 2px;
}

a {
    text-decoration: none;
    color: $aColor;
}

.animate__animated.animate__fadeInDown {
    animation-duration: 2s;
}

.colorBoton {
    background-color: $botonColor;
    color: $blanco;
}

.colorBoton:hover {
    background-color: $botonColorHover;
    color: $blanco;
}

.fotos {
    border: solid 10px $blanco;
    border-radius: 5px;
    max-width: 80%;
    margin-top: 25px;
}

.icon {
    border-radius: 100%;
    color: $blanco;
}

.icon-instagram {
    background: $instaColor;
    font-size: 1.5rem;
}

.icon-whatsapp {
    background: $whatColor;
    font-size: 1.5rem;
}

p,
span {
    font-family: $texto, sans-serif;
}


a.nav-link.blanco:hover {
    color: $navHoverColor !important;
}

.navbar li.nav-item {
    text-transform: uppercase;
    font-family: $titulos;
    letter-spacing: 0.1rem;
}


.accordion-item h2,
.accordion-body {
    font-family: $texto, sans-serif;
}

.accordion-button:not(.collapsed) {
    color: $negro;
    background-color: $acordionBotonColor;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-body {
    background: $acordionColor;
    color: $blanco;
}

.accordion-flush .accordion-collapse {
    background: $acordionColor;
}

nav .container-fluid {
    display: flex;
    flex-direction: column;
}

nav .navbar-brand {
    margin-right: 0;
}

nav p.blanco.justify-content-center {
    text-align: center;
}

.bajar {
    margin-bottom: -2rem;
}

.carousel-indicators {
    margin-bottom: -2rem;
}


header nav div div ul li a {
    display: inline-block;
    position: relative;
    color: $navHoverColor;
    text-decoration: none;
}

header nav div div ul li a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .6s;
}

header nav div div ul li a:hover:after {
    width: 100%;
    background: $navHoverColor;
}

.formAncho {
    border-radius: 10px;
    background: $formColor;
    padding: 2rem;
}

.ws {
    background: $blanco;
}

.iconFlex {
    display: flex;
    flex-direction: column;
    align-items: center !important;
}

.space {
    padding-bottom: 1rem;
}

main div div div div a:hover {
    color: $aHoverColor2 !important;
} 

.distancia3
    {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }