* {
    margin: 0;
    padding: 0;
    text-align: justify;
    scroll-behavior: smooth;
}
.navColor {
    background-color: #a4508b;
    background-image: linear-gradient(to left, #a4508b 0%, #74438b 74%);
}
body {
    background-color: rgb(234, 203, 238);
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
}
.colorFooter {
    background-color: #a68cb8;
}
.tamaño {
    width: 400px;
    height: 450px;
}
h3 {
    font-weight: normal;
    background-color: #b6acbd;
    background-image: linear-gradient(315deg, #ad97c2 0%, #c49ebb 74%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}
.tamañoChico {
    width: 270px;
    height: 350px;
}
.blanco {
    color: rgb(248, 242, 242);
    white-space: nowrap
}
.mayuscula {
    text-transform: uppercase;
}
iframe {
    width: 900px;
    height: 250px;
}
